In [2]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer

In [6]:
df = pd.read_csv('train.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [7]:
df

      Age     Fare  SibSp  Parch  Survived
0    22.0   7.2500      1      0         0
1    38.0  71.2833      1      0         1
2    26.0   7.9250      0      0         1
3    35.0  53.1000      1      0         1
4    35.0   8.0500      0      0         0
..    ...      ...    ...    ...       ...
886  27.0  13.0000      0      0         0
887  19.0  30.0000      0      0         1
888   NaN  23.4500      1      2         0
889  26.0  30.0000      0      0         1
890  32.0   7.7500      0      0         0

[891 rows x 5 columns]

In [8]:
df['family'] = df['SibSp'] + df['Parch']

In [9]:
df.head()

    Age     Fare  SibSp  Parch  Survived  family
0  22.0   7.2500      1      0         0       1
1  38.0  71.2833      1      0         1       1
2  26.0   7.9250      0      0         1       0
3  35.0  53.1000      1      0         1       1
4  35.0   8.0500      0      0         0       0

In [10]:
df.drop(columns=['SibSp','Parch'],inplace=True)

In [11]:
df.head()

    Age     Fare  Survived  family
0  22.0   7.2500         0       1
1  38.0  71.2833         1       1
2  26.0   7.9250         1       0
3  35.0  53.1000         1       1
4  35.0   8.0500         0       0

In [12]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [13]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [14]:
X_train.head()

      Age     Fare  family
331  45.5  28.5000       0
733  23.0  13.0000       0
382  32.0   7.9250       0
704  26.0   7.8542       1
813   6.0  31.2750       6

In [16]:
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)

DecisionTreeClassifier()

In [17]:
ypred = clf.predict(X_test)

In [18]:
accuracy_score(y_test,ypred)

0.6927374301675978

In [19]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

0.6610611735330836

In [20]:
#now lets test with binarizer
from sklearn.preprocessing import Binarizer

In [21]:
trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['family'])
],remainder='passthrough')

In [22]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [23]:
pd.DataFrame(X_train_trf,columns=['family','Age','Fare'])

     family   Age      Fare
0       0.0  45.5   28.5000
1       0.0  23.0   13.0000
2       0.0  32.0    7.9250
3       1.0  26.0    7.8542
4       1.0   6.0   31.2750
..      ...   ...       ...
707     0.0  21.0    7.6500
708     0.0   NaN   31.0000
709     1.0  41.0   14.1083
710     1.0  14.0  120.0000
711     1.0  21.0   77.2875

[712 rows x 3 columns]

In [24]:
clf = DecisionTreeClassifier()
clf.fit(X_train_trf,y_train)
y_pred2 = clf.predict(X_test_trf)

accuracy_score(y_test,y_pred2)

0.6815642458100558

In [25]:
X_trf = trf.fit_transform(X)
np.mean(cross_val_score(DecisionTreeClassifier(),X_trf,y,cv=10,scoring='accuracy'))

0.6510736579275905